---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCarousel from "@components/interactive/project-carousel";
import projects from "../lib/projects"
import CvComponent from "@components/CvComponent.astro";
import ContactSection from "@components/interactive/ContactSection";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Nicolás Forero</div>
    <div class="text-3xl py-3 font-bold">Software Engineer and Entrepreneur</div>
    <div class="py-2">
      <p class="text-lg">
        I am a <b>Passionate</b> freelancer from Colombia.
        My expertise is developing next-level websites and web applications.
      </p>
    </div>
    <div class="mt-8">
      <!-- <a class="px-4 h-12 min-h-12 inline-flex flex-wrap justify-center items-center rounded-sm bg-blue-100 transition-all hover:bg-blue-300" href="#contact"> Let's connect!</a> -->
      <a class="btn" href="#contact"> Let's connect!</a>
    </div>
  </div>

  <div>
    <h2 class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <ProjectCarousel client:idle projects={projects} />


  <CvComponent />

  <ContactSection client:visible />
  
</BaseLayout>
