---
import BaseLayout from "../layouts/BaseLayout.astro";
import projects from "../lib/projects"
import ProjectCarousel from "@components/interactive/project-carousel";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <h2 class="text-3xl w-full font-bold mb-5">Projects</h2>
  </div>

  <ProjectCarousel client:idle projects={projects} />
</BaseLayout>
