---
import TimeLineElement from "./cv/TimeLine.astro";
import skills from "src/lib/skills";
import SkillsElement from "./SkillsElement.astro";
import projects from "src/lib/projects";
---

<div class="my-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
   Eager and dynamic Apprentice from Platzi and The Odin Project, I excel in software development, particularly with HTML, CSS, JS, Typescript, React, Node, Express and MongoDB, and demonstrate strong problem-solving abilities. Leveraging teamwork and collaboration, I enhanced productivity by implementing mentor suggestions, showcasing a commitment to continuous learning and skill advancement in tech environments.
  </div>

  <div class="mb-10">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <div class="grid grid-cols-[repeat(3,max-content)] justify-around items-end gap-8 mb-10">
    {skills.map(skill => (
      <SkillsElement skill={skill} />
    ))}
  </div>

   <div class="mb-5">
    <div class="text-3xl w-full font-bold">Projects</div>
  </div>

  <div class="time-line-container mb-10">
    {projects.map(project => (
      <TimeLineElement
        title={project.name}
        subtitle={project.date}
      >
      <ul class="list-disc list-inside mb-5">
        {project.content.map(item => (
          <li>{item}</li>
        ))}
      </ul>
    </TimeLineElement>
    ))}
  </div>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      HarvardX CS50's Introduction To Computer Science
    </li>
    <li>
      JavaScript Frameworks and 
    Libraries, Platzi
    </li>
    <li>
      Consuming REST APIs with 
JavaScript, Platzi
    </li>
    <li>
      Responsive Design, Platzi
    </li>
    <li>
      Fronted Developer, Platzi
    </li>
  </ul>
