---
import TimeLineElement from "./cv/TimeLine.astro";
import skills from "src/lib/skills";
import SkillsElement from "./SkillsElement.astro";
---

<div class="my-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
   Eager and dynamic Apprentice from Platzi and The Odin Project, I excel in software development, particularly with HTML, CSS, JS, Typescript, React, Node, Express and MongoDB, and demonstrate strong problem-solving abilities. Leveraging teamwork and collaboration, I enhanced productivity by implementing mentor suggestions, showcasing a commitment to continuous learning and skill advancement in tech environments.
  </div>

  <div class="mb-10">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <div class="grid grid-cols-[repeat(3,max-content)] justify-around items-end gap-8 mb-10">
    {skills.map(skill => (
      <SkillsElement skill={skill} />
    ))}
  </div>

   <div class="mb-5">
    <div class="text-3xl w-full font-bold">Projects</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Promptopia"
      subtitle="2024"
    >
    <ul class="list-disc list-inside mb-5">
      <li>Technologies used: JavaScript, Next.js, MongoDB, Mongoose, Tailwind</li>
      <li>Enabled users to Sign In, post, and categorize ChatGpt prompts like a social media</li>
    </ul>
  </TimeLineElement>
  <TimeLineElement
  title="CV Maker App"
  subtitle="2024"
  >
   <ul class="list-disc list-inside mb-5">
    <li>Technologies used: Typescript, React.js, Tailwind</li>
    <li>Helps you generate and download your resume fast</li>
  </ul>
</TimeLineElement>
<TimeLineElement
title="Battleship"
subtitle="2024"
>
<ul class="list-disc list-inside mb-5">
 <li>Technologies used: React, JavaScript, Tailwind</li>
 <li>Battleship basic game</li>
</ul>
</TimeLineElement>
<TimeLineElement
title="Amazon Affiliate Website"
subtitle="2024"
>
<ul class="list-disc list-inside mb-5">
 <li>Technologies used: Astro, JavaScript, Mdx, Typescript</li>
 <li>SEO-optimized website with AI to reach more people and make revenue with the Amazon Affiliate Program</li>
</ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Codecademy"
      subtitle="20219 to 2021, Remote"
    />
    <TimeLineElement
      title="Platzi"
      subtitle="2021 to 2022, Remote"
    />
    <TimeLineElement
      title="HarvardX"
      subtitle="2023 to 2024, Remote"
    />
    <TimeLineElement
      title="The Odin Project"
      subtitle="2024 to Present, Remote"
    />
  </div>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      HarvardX CS50's Introduction To Computer Science
    </li>
    <li>
      JavaScript Frameworks and 
    Libraries, Platzi
    </li>
    <li>
      Consuming REST APIs with 
JavaScript, Platzi
    </li>
    <li>
      Responsive Design, Platzi
    </li>
    <li>
      Fronted Developer, Platzi
    </li>
  </ul>
